BasedOnStyle: LLVM
AlwaysBreakAfterReturnType: All
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
IndentWidth: 4
UseTab: Never
ColumnLimit: 129
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
AllowAllArgumentsOnNextLine: false
BreakBeforeBraces: Allman
