BasedOnStyle: LLVM
BreakBeforeBraces: Allman
AlwaysBreakAfterReturnType: All
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
IndentWidth: 4
ColumnLimit: 129
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
AllowAllArgumentsOnNextLine: false
